[Unit]
Description=APT Server Container
After=docker.service
Requires=docker.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker pull effectiverange/apt-server:latest
ExecStart=/usr/bin/docker run --net=host --name=apt-server -v /opt/debs:/opt/debs -v /var/log/effective-range/apt-server:/var/log/effective-range/apt-server effectiverange/apt-server:latest
ExecStop=/usr/bin/docker kill apt-server
ExecStopPost=/usr/bin/docker rm apt-server

[Install]
WantedBy=multi-user.target
