Origin: {{origin}}
Label: {{label}}
Suite: {{suite}}
Version: {{version}}
Codename: {{codename}}
Date: {{date}}
Architectures: {{architectures}}
Components: {{components}}
Description: {{description}}
MD5Sum:
{{md5_checksums}}
SHA1:
{{sha1_checksums}}
SHA256:
{{sha256_checksums}}
