Origin: {{origin}}
Label: {{label}}
Suite: stable
Version: {{version}}
Codename: {{codename}}
Date: {{date}}
Architectures: {{architectures}}
Components: {{components}}
Description: APT repository with dynamic package pool handling
MD5Sum:
{{md5_checksums}}
SHA1:
{{sha1_checksums}}
SHA256:
{{sha256_checksums}}
